{% extends 'base.html.twig' %}

{% block title %}VipController!{% endblock %}

{% block body %}

    <hgroup>
        <h1>Les codes promo</h1>
        <h3>Espace VIP</h3>

        <article>
            <h2>Lorem.xyz <mark>50 %</mark></h2>
            <kbd>#454HKJ78974</kbd>
        </article>

         <article>
            <h2>Ipsum.xyz <mark>33 %</mark></h2>
            <kbd>#787JK454JGK</kbd>
        </article>

    </hgroup>
    
{% endblock %}
